.mobile-logo{
    width: 150px;
    padding: 4px;
}

.location-info{
    padding: 15px;
    background-color:#1D5BF3;
    color: white;
    height: 800px;
}

.contact-info{
    margin-right: 8px;
}

.contact-us{
    font-weight: 600;
}
.map-container iframe , .map-container{
 width: 300px;
}
#mapid{
    height: 300px;
    width: 400px;
}

.contact-title{
    padding-left: 10px;
    font-weight: bold;

}

.contact-info{
    padding-left: 20px;
    font-weight: 700;

}

.red-underline{
    height: 4px;
    width: 315px;
    background-color: red;

}

.header-button{
    font-size: 20px;
    font-weight: 500;
}

.main-image{
    padding-right: 20px;
    height: 130%;
}

a{
    color: #1D5BF3;
}
@media (max-width: 991.98px) { 

.map-container iframe, .map-container {
 width: 100%;
}

.container.card.shadow.p-3.mb-5.bg-white.rounded {
    height: auto !important;
}
}