.mobile-logo{
    width: 150px;
    padding: 4px;
}

.location-info{
    padding: 15px;
    color: white;
    height: 800px;
}

.border-card{
    background-color: #1D5BF3!important;
}

.contact-info{
    margin-right: 8px;
}

.contact-us{
    font-weight: 600;
}
.map-container{
 width: 300px;
}
#mapid{
    height: 300px;
    width: 400px;
}

.contact-title{
    padding-left: 10px;
    font-weight: bold;
    color: #ec1c24;

}

.contact-info{
    padding-left: 20px;
    font-size: 16px;
    font-weight: 500;
    color:#1D5BF3;
    
}

.red-underline{
    height: 4px;
    width: 315px;
    background-color: #ec1c24;

}

@media (max-width: 991.98px){
    .customers-bg{
        height: 560px;
        background-image: none !important;
    }
}

.customers-bg{
    height: 560px;
     background-image: url(/images/customers.svg);
}

.header-button{
    font-size: 16px;
    font-weight: 500;
}

.main-image{
    padding-right: 20px;
    height: 130%;
}

.img-fixed{
    position: absolute;
  bottom: 0;
  right: 14%;
  top: 63%;
  -webkit-transform: translateY(-50%) translateX(30%);
  -ms-transform: translateY(-50%) translateX(30%);
  transform: translateY(-50%) translateX(30%);
}

a{
    color: #1D5BF3;
}
@media (max-width: 991.98px) { 

.map-container iframe, .map-container {
 width: 100%;
}

.container.card.shadow.p-3.mb-5.bg-white.rounded {
    height: auto !important;
}
}